{% extends 'base.html' %}

{% block content %}
<h2>Apikey</h2>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<table style="width:100%" id="items-table">
    <thead>
        <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Realm</th>
            <th>Username</th>
            <th>Apikey</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>

<form id="delete-form">
    <button id="delete-button" type="submit" onclick="delete_apikeys()"">Delete Selected</button>
</form>


<h2>Add Apikey</h2>
<form id=" add-form">
        <input type="text" id="apikey_name" placeholder="Enter apikey name" required>
        <button type="submit" onclick="create_apikey()">Add Apikey Name</button>
</form>
<!-- <textarea id="output" rows="20" cols="120"></textarea> -->
<script>
    async function fetchItems() {
        const response = await fetch('/generate_apikeys');
        const items = await response.json();
        const tbody = document.querySelector('#items-table tbody');
        tbody.innerHTML = '';
        items.forEach(key => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td><input type="checkbox" data-id="${key.apikey}"></td>
                <td>${key.keyname}</td>
                <td>${key.realm}</td>
                <td>${key.username}</td>
                <td>${key.apikey}</td>
            `;
            tbody.appendChild(row);
        });
    }


    async function create_apikey() {
        var access_token = "{{ session['token'] }}";
        const nameInput = document.getElementById('apikey_name');
        // const output = document.getElementById('output');
        const keyname = nameInput.value.trim();
        try {
            if (keyname) {
                const body = {
                    method: 'PUT',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer ' + access_token
                    },
                    body: JSON.stringify({
                        "apikey": "",
                        "realm": "",
                        "username": "",
                        "keyname": keyname
                    })
                };
                // await fetch('http://192.168.0.22/apikey/', body);
                await fetch('/apikeys', body);
                nameInput.value = '';
                fetchItems();
            }
        } catch (error) {
            // output.innerHTML += error + '<br>';
            // output.innerHTML += error.cause + '<br>';

        }
    }

    async function delete_apikeys() {
        var access_token = "{{ session['token'] }}";
        const nameInput = document.getElementById('apikey_name');
        const keyname = nameInput.value.trim();
        try {
            const checkboxes = document.querySelectorAll('#items-table tbody input[type="checkbox"]:checked');
            const keys = Array.from(checkboxes).map(cb => cb.getAttribute('data-id'));
            if (keys.length > 0) {
                await Promise.all(keys.map(key => {
                    fetch('apikeys', {
                        method: 'DELETE',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            "apikey": key,
                            "realm": "",
                            "username": "",
                            "keyname": "",
                            "keys": keys
                        })
                    });
                }));
            }

            fetchItems();
        } catch (error) {
            // output.innerHTML += error + '<br>';
            // output.innerHTML += error.cause + '<br>';

        }
    }

    // Initial fetch
    fetchItems();
</script>

{{ hosturl }}
{% endblock %}