<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> InferX AI Function </title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .audit {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

        .review {
            margin-left: 50px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <table style="border-collapse: collapse; border: 2px solid rgba(255, 255, 255, 0.5);">
        <td style="border: none;"><img src="doc/logo.png" alt="logo" width="100" height="100"></td>
        <td style="border: none;">
            <h1>InferX AI Function Platform (Lambda Function for Inference)</h1>
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;-- &nbsp; Serve tens models in one box with ultra-fast (<2 sec) cold start
                    (contact: support@inferx.net)</</h2>
        </td>
    </table>
    <a href="#" id="login_logout" style="font-size: 2em;float:right">
        Action
    </a>
    <hr>
    <nav>
        <a href="{{ hosturl }}intro?name=home.md"> Introduction </a>
        <a href="{{ hosturl }}listfunc"> Models </a>
        <a href="{{ hosturl }}listpod"> Pods </a>
        <a href="{{ hosturl }}listsnapshot"> Snapshots </a>
        <a href="{{ hosturl }}listnode"> Nodes </a>
        <a href="{{ hosturl }}apikeys"> Apikeys </a>

    </nav>
    <script>
        const usernam = "{{ session['username'] }}";
        const link = document.querySelector('#login_logout');
        if (usernam == "") {
            const currentUrl = window.location.href;
            link.href = '{{ hosturl }}' + "login";
            link.textContent = 'login'
        } else {
            link.href = '{{ hosturl }}' + "logout";
            link.textContent = "logout(" + usernam + ")";
        }


    </script>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>