<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Streaming Output {{data}}</title>

</head>

<body>
    <h1>Server Streaming Output {{data}}</h1>
    <div id="output"></div>


    <script>
        let name = 'ddddddd' + {{ data| tojson }};
    </script>
    <script>

        async function streamOutput() {
            const outputDiv = document.getElementById('output');

            try {
                const url = "http://localhost:1239/proxy1/t1/ns1/codegen";
                const body = {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "prompt": "seattle is a ",
                    })
                };
                const response = await fetch(url, body);

                // Read the response as a stream of data
                const reader = response.body.getReader();
                const decoder = new TextDecoder("utf-8");
                outputDiv.innerHTML = name + '<br>';

                while (true) {
                    const { done, value } = await reader.read();
                    if (done) {
                        break;
                    }
                    // Massage and parse the chunk of data
                    const chunk = decoder.decode(value);
                    outputDiv.innerHTML += chunk.replace(new RegExp('\r?\n', 'g'), '<br />');

                    // const lines = chunk.split("data:");

                    // const parsedLines = [];
                    // for (const l1 of lines) {
                    //     const l2 = l1.replace(/^data: /, "").trim();
                    //     if (l2 == "" || l2 == "[DONE]") {
                    //         continue;
                    //     }

                    //     const l3 = JSON.parse(l2);
                    //     parsedLines.push(l3)
                    // }


                    // for (const parsedLine of parsedLines) {
                    //     const choices = parsedLine.choices;
                    //     delta = choices[0];
                    //     content = delta.text;
                    //     if (content) {
                    //         outputDiv.innerHTML += content.replace(new RegExp('\r?\n', 'g'), '<br />');
                    //     }
                    // }
                }
            } catch (error) {
                outputDiv.innerHTML += error + '<br>';
                outputDiv.innerHTML += error.cause + '<br>';
                console.error('Error fetching HTML:', error);
            }

        }

        // Call the function to start streaming
        streamOutput().then(text => {
            text; // => 'Page not found'
        });
    </script>
</body>