{% extends 'base.html' %}

{% block content %}

<h2>funcpod</h2>

<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<table style="width:100%">
    <tr>
        <th>tenant</th>
        <th>namespace</th>
        <th>podname</th>
    </tr>
    <tr>
        <td>{{ tenant }}</td>
        <td>{{ namespace }}</td>
        <td>{{ podname }}</td>
    </tr>
</table>

{% if audits %}
<h2>state</h2>
<table style="width:100%">
    <tr>
        <th>state</th>
        <th>time</th>
    </tr>
    {% for audit in audits %}
    <tr>
        <td>{{ audit["state"] }}</td>
        <td>{{ audit["updatetime"] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<h2>log</h2>
<table style="width:100%">
    <tr>
        {% autoescape false %}
        <td>{{ log }}</td>
        {% endautoescape %}
    </tr>
</table>

<!-- <h2>stats</h2>
<table style="width:100%">
    <tr>
        {% autoescape false %}
        <td>{{ audits[1] }}</td>
        {% endautoescape %}
    </tr>
</table> -->
{{ hosturl }}
{% endblock %}